.main-layout {
    background-image: url('../../../assets/images/common/tymex-background.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;

    .ant-layout-sider {
        background: transparent !important;
    }
}
